#search-city-input {
  padding-top: 5px;
  padding-left: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  font: "Cabin", sans-serif;
  text-transform: uppercase;
  padding-bottom: -10px;
}

button {
  outline: none;
  border: none;
  background: none;
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
}
a {
  color: black;
  transition: all 200ms ease-in-out;
}
a:hover {
  color: rgb(255, 208, 0);
}
.weather-app {
  text-align: center;
  background: linear-gradient(
    109.6deg,
    rgb(120, 212, 234) 11.2%,
    rgb(216, 226, 253) 72.1%
  );
  width: 420px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  border-radius: 20px;
}

.search-bar-ruler {
  margin-top: 4px;
  position: relative;
  top: 1px;
  left: 10px;
  width: 98%;
}

#current-location {
  font-size: 22px;
  transition: all 150ms ease-in-out;
}

#current-location:hover {
  opacity: 0.75;
  cursor: pointer;
}

.day-date {
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.time {
  font-family: "Cabin", sans-serif;
  font-size: 14px;
}

.cityName {
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  padding-top: 15px;
}
.weather-description {
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}

.last-time-updated {
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  padding-top: 2px;
  text-align: center;
}
#weather-icon {
  color: rgb(255, 238, 0);
  font-size: 140px;
  padding-bottom: 2px;
}

.live-temp {
  font-size: 90px;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  padding-right: 30px;
  padding-bottom: 5px;
  position: relative;
  left: -10px;
}

#celsius-link {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-top: 70px;
  padding-bottom: 20px;
  padding-right: 30px;
  position: relative;
  right: 145px;
  bottom: 10px;
  color: rgb(0, 0, 0);
}

.line-1 {
  margin-top: -12px;
}
.forecast-data {
  font-family: "Cabin", sans-serif;
  font-size: 15px;
}
.humid {
  position: relative;
  left: -30px;
}
.wind {
  position: relative;
  left: -42px;
}

.forecast-icon {
  font-size: 24px;
  color: rgb(58, 56, 53);
}

.forecast-temperature {
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.forecast-temperature-min {
  opacity: 0.75;
}

.forecast-day {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
  padding-top: 5px;
}

.footer {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  padding: 14px;
}

#open-source-code {
  text-decoration: none;
  color: rgb(68, 0, 255);
}

#open-source-code:hover {
  color: rgb(169, 243, 22);
}
